.boton-clear{
    z-index: 100;
    color: #fff;
}
.boton-clear::after{
    content: '';
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #f608;
    position: absolute;
}