.app-calc-keypad{
	height: 50%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	border: none;
	font-size: 20px;
	text-align: center;
	background-color:#171616;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	min-width: 300px;
}
.app-calc-keypad-button{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 50%;
	user-select: none;
}
.app-calc-keypad-button:hover{
	background-color: #88888811;
}
.Operador{
	color: #ff6600;
	text-align: center;
}
.Operador:hover{
	background-color: #fff;
}

@media (max-width: 800px){
	.app-calc-keypad{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 55px);
	}
}