.input{
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    font-size: 30px;
    background-color: #171616;
    color: #fff;
    padding: 11px;
    padding-right: 30px;
    border: none;
    overflow: hidden;
    border-bottom: 1px solid #121212;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}